# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.


# Readme - Actions work from a temporary directory. If the repo's project is not in root repo folder
# there must be a cd ./<directory where project is> ran for each command annotated.
# <- hash here specifies comments and should be excluded from example below.
# To specify multiple command -> run: |
#                                     Then 1st command
#                                     Then 2nd command

name: Stable Linter, Build, Unit Test

env:
  FLUTTER_VERSION: "release"
  
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linter:
    runs-on: ubuntu-latest
    name: Lint flutter code
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # Setup Flutter
      - name: Set up Flutter
        uses: subosito/flutter-action@v1
        
      # Add formating standards
      - run: flutter pub add --dev effective_dart 
        # <- Based on pubspec.yaml file of project
      - run: cd ./harkify flutter pub get 
        # <- Based on pubspec.yaml file of project

      # Analyze
      - name: Analyze Flutter
        uses: ValentinVignal/action-dart-analyze@v0.11
        with:
          fail-on: "format"

  build:
    name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: 'Upload APK Artifact'
        uses: 'actions/upload-artifact@v2'
        with:
          name: harkify-apk-${{env.FLUTTER_VERSION}} # <- Replace hello-flutter with name of application
          path: build/app/outputs/flutter-apk/*.apk
          
      - name: 'Upload Web Artifacts'
        uses: 'actions/upload-artifact@v2'
        with:
          name: harkify-web-${{env.FLUTTER_VERSION}} # <- Replace hello-flutter with name of application
          path: build/web/**/*.* # <- Based on pubspec.yaml file of project
        
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Flutter
        uses: subosito/flutter-action@v1
      - run: | cd ./harkify 
      flutter pub get # <- Based on pubspec.yaml file of project
      
      - name: Run tests
      - run: | cd ./harkify 
      flutter test # <- Based on pubspec.yaml file of project
